  .menu-container {
    width: auto;
    border-radius: 5px;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;

  }
  
  .menu-item:hover  {
    background-color: #0369dd ;  
    color:#ffffff;
    && .menu-icon{
      fill:#ffffff;
      color: #ffffff;
    }
  }
 
  
  .menu-title {
    font-weight: bold;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
  }
  
  .submenu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    min-width: 150px;
    padding: 5px 0px 5px 5px;
  }
  
  .submenu-item {
    padding: 8px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    color:#030303;
    align-items: center;
    justify-content: space-between;
  }
  
  .submenu-item:hover {
    background-color: #0369dd ;  
    color:#ffffff;
    &&
    .arrow-icon{
    color:#ffffff
    }
  }
  
  .arrow-icon {
    margin-left: auto;
    color: #888;
  }
  
  /* Nested submenu should look like submenu */
  .nested-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px 5px 5px 0px;
    min-width: 150px;
  }
  